<div class="partnership" id="partnership_<%= partnership.id %>">
  <%= render :partial => "people/person", :locals => { :person => partnership.partner_of_person( person ) } %>
  <%= link_to_function( 'x', "removePartnership(" + partnership.id.to_s + ")" ) %>
</div>
