<div id="partnerships">
  <% person.partnerships.each do |partnership| -%>
    <%= render :partial => "partnership", :locals => {
      :partnership => partnership,
      :person => person
    } %>
  <% end -%>
</div>
