<% if person %>
  <div class="node">
    <a href="<%= url_for person %>" class="node">
      <span class="name"><%= person.name %></span>
    </a>
  </div>
<% else %>
  <div class="empty_node">
  </div>
<% end %>
