<h2>Listing People</h2>

<table>
  <tr>
    <th style="width: 100%">Name</th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr class="hover">
    <td><%= link_to person.name, person_path(person) + "/tree" %></td>
    <td><%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
