table {
  border: none;
  border-spacing: 3px;
}
td, th {
  vertical-align: top;
  text-align: left;
}
th {
  padding-right: 10px;
}
h3 {
  margin: 0.5em;
}
#page {
  width: 600px;
  margin: auto;
}
#infovis {
  height: 400px;
  width: 100%;
  overflow: hidden;
}
.left {
  float: left;
}
.right {
  float: right;
}
.nil {
  color: #aaa;
}
span.best_in_place {
  display: block;
  padding: 0px 4px;
  border-radius: 2px;
  cursor: pointer;
}
span.best_in_place:hover {
  background-image: url('/images/edit.png');
  background-repeat: no-repeat;
  background-position: right top;
}

