/* ======= General ======= */
table {
  border: none;
  border-spacing: 3px;
  width: 100%;
}
td, th {
  vertical-align: top;
  text-align: left;
}
th {
  padding-right: 10px;
  white-space: nowrap;
}
h3 {
  margin: 0.5em;
}
h4 {
  margin: 0.5em 0px;
}
textarea {
  min-height: 15em;
  max-height: 45em;
  width: 100%;
}
#page {
  margin: 2em;
  margin-top: 5em;
}
.left {
  float: left;
}
.right {
  float: right;
}
.nil {
  color: #aaa;
}
ul {
  margin: 0px;
}
option.grey {
  color: grey;
}
tr.hover:hover {
  background-color: #eee;
}
#information {
  float: right;
  width: 33%;
  padding-left: 1em;
  margin: 0 0 10px 10px;
}
#bio {
  clear: left;
  padding-top: 2em;
}
#bio h3 {
  margin: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid #666;
}
/* ======= Navigation ======= */
#topbar {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #333;
  width: 100%;
  -moz-box-shadow: 0px 0px 15px #333;
  -webkit-box-shadow: 0px 0px 15px #333;
  box-shadow: 0px 0px 15px #333;
}
#navigation {
  width: 700px;
  margin: .5em auto;
}
#navigation h4 {
  float: left;
  color: #eee;
  margin: 0px 0px;
}
#navigation ul {
  float: left;
  padding: 0px;
}
#navigation li {
  float: left;
  color: #eee;
  list-style: none;
  margin-left: 2.5em;
}
#navigation li > a {
  color: #bbb;
  text-decoration: none;
}
#navigation li > a:hover {
  color: #eee;
  background: none;
}
/* ======= Ajax forms, etc ======= */
span.best_in_place, .editable {
  display: block;
  padding: 0px 4px;
  border-radius: 2px;
}
span.best_in_place {
  cursor: pointer;
}
span.best_in_place:hover, .editable:hover {
  background-color: #eee;
}
span.best_in_place:hover {
  background-image: url('/images/edit.png');
  background-repeat: no-repeat;
  background-position: right top;
}
div.validation-error {
  background-color: #e7e7e7;
  border-radius: 2px;
  padding: 7px 10px;
  margin: 5px 0px;
  color: #333;
  display: none;
}
div.validation-error ul {
  margin: 0px;
  padding: 0px;
}
div.validation-error li {
  list-style-type: square;
  list-style-position: inside;
}
#create_person_dialog {
  display: none;
}
/* ======= jQuery Purr ======= */
#purr-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
}
.notice {
  position: relative;
  width: 324px;
}
.notice .close {
  position: absolute;
  top: 12px;
  right: 12px;
  display: block;
  width: 18px;
  height: 17px;
  text-indent: -9999px;
  background: url(/images/purrClose.png) no-repeat 0 10px;
}
.notice-body {
  min-height: 50px;
  padding: 22px 22px 0 22px;
  background: url(/images/purrTop.png) no-repeat left top;
  color: #f9f9f9;
}
.notice-body img {width: 50px;
  margin: 0 10px 0 0;
  float: left;
}
.notice-body h3  {margin: 0;
  font-size: 1.1em;
}
.notice-body p   {margin: 5px 0 0 60px;
  font-size: 0.8em;
  line-height: 1.4em;
}
.notice-bottom {
  height: 22px;
  background: url(/images/purrBottom.png) no-repeat left top;
}
/* ======= jQuery UI ======= */
.ui-autocomplete, .ui-dialog {
  -moz-box-shadow: 2px 2px 15px #333;
  -webkit-box-shadow: 2px 2px 15px #333;
  box-shadow: 2px 2px 15px #333;
}
/* ======= Tree ======= */
#tree {
  width: 100%;
  text-align: center;
  border: 1px dashed #abc;
  background-color: #abc;
}
#tree table {
  margin: auto;
}
#tree table {
  border-spacing: 0px;
  border-collapse: collapse;
  width: 800px;
  background: url('/images/tree_bg.png') top left no-repeat;
}
#tree table tr.greatgrandparents td {
  width: 100px;
}
#tree table div.children {
  background: url('/images/tree_children_bg.png') top center repeat-y;
}
#tree table td {
  padding: 0px;
}
#tree div.empty_node {
  background-color: #cdd5dd;
  width: 90px;
  height: 62px;
  margin: 10px auto;
}
#tree div.node {
  background-color: #eee;
  width: 90px;
  height: 62px;
  margin: 10px auto;
}
#tree a.node {
  display: block;
  width: 84px;
  height: 56px;
  padding: 3px;
  text-decoration: none;
  font-size: 10px;
  overflow: hidden;
  -moz-box-shadow: 3px 3px 15px #333;
  -webkit-box-shadow: 3px 3px 15px #333;
  box-shadow: 3px 3px 15px #333;
}
#tree a.node .name {
  font-weight: bold;
}
